@page
@model MaineCoon.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<h2>https://github.com/emn178/js-sha256</h2>
<h3>Colorlib Wizard 14 https://colorlib.com/wp/free-bootstrap-wizards/ CC-BY 3.0</h3>
<h3>"Dynamic Form Fields - Add & Remove BS3" https://bootsnipp.com/snippets/ykXa MIT</h3>

